<%= provide(:title, "トップページ") %>

<div class="center jumbotron">
<script src="https://accounts.google.com/gsi/client" async defer></script>
  <h1>GeoTipsApp</h1>
  <div id="g_id_onload"
    data-client_id="80642622284-6kqq3sqv2usj1v152msmhqg1vn5kc1bb.apps.googleusercontent.com"
    data-login_uri="http://localhost:3000"
    data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
  </div>
  <p><%= link_to "ログイン", login_path, class: "btn btn-primary" %></p>
  <p><%= link_to "新規登録", new_user_path, class: "btn btn-primary" %></p>
</div>