<%= provide(:title, "アカウント修正") %>
<%= provide(:submit_user, "アカウント修正") %>
<%= provide(:form_user, "edit") %>
<h1>アカウント修正</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>