<%= provide(:title, "ユーザー一覧") %>

<h1>ユーザー一覧</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-condenced table-bordered table-user">
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: user.name + "を削除してよろしいですか？"},
                  class: "btn btn-danger" %> 
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>