// 検索フォーム
.index-form {
  margin-bottom: 20px;
}

// 投稿、編集画面
.label-tips {
  margin-top: 5px;
}

.btn-tips-form {
  margin-top: 10px;
}

.btn-tips-show {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3%;
  width: 45%;
}

.checkbox-img {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}