.label-new {
  margin-top: 5px;
}

.btn-new {
  margin-top: 10px;
}

.label-edit {
  margin-top: 5px;
}

.btn-edit {
  margin-top: 10px;
}

.user-index {
  margin-left: 10px;
}

.btn-index {
  float: right;
  margin-right: 5px;
}