<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">【ストリートビューの貼り付け方法】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="street_view">① 左上の3つの点をクリックし、「画像を共有または埋め込む」をクリック</p>
          <%= image_tag "street_view_1 (2).jpg", class: "street_view_jpg" %>
          <p class="street_view">②「地図を埋め込む」を選択し、「HTMLをコピー」</p>
          <%= image_tag "street_view_2 (2).jpg", class: "street_view_jpg" %>
          <p class="street_view">③ストリートビューURLへ貼り付けて投稿してください。</p>
          <%= image_tag "street_view_3 (2).jpg", class: "street_view_jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>