<% unless logged_in? %>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
    data-client_id="80642622284-6kqq3sqv2usj1v152msmhqg1vn5kc1bb.apps.googleusercontent.com"
    data-login_uri="https://geowiki.fly.dev/callback"
    data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="signup_with"
    data-shape="rectangular"
    data-logo_alignment="left">
  </div>
  <br>
  <p>または</p>
<% end %>