<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="container">
    <%= link_to "GeoTips", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar navbar-right">
        <li><%= link_to "トップ", '#' %></li>
        <li><%= link_to "アカウント", '#' %></li>
      </ul>
    </nav>
  </div>
</header>